@media screen and (max-width: 1275px) {

    .section__pic-container,
    .about-details-container {
        min-width: 100%;
    }

    .section-container{
        flex-direction: column;
    }

    .about{
        padding: 3rem;
    }
}

@media screen and (max-width: 1175px) {
    .mobile-view-btns {
        display: block;
        z-index: 100;
    }

    .header {
        position: relative;
    }

    nav .container {
        flex-direction: row;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--lightOne);

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all .5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navlist {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-view-btns .icon-close {
        display: block;
    }

    .active .mobile-view-btns .icon-menu {
        display: none;
    }

    .hero-intro,
    .hero-image {
        flex: 0 0 100%;
    }

}

@media screen and (max-width: 785px) {
    .about-pic{
        max-width: 250px;
    }

    .about-containers{
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 825px) {
    .experience-detail-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "frontend"
        "backend"
        "database"
        "system";
    }

    .system{
        width: 100%;
    }

    .article-container{
        justify-content: center;
        align-items: center;
    }

    article{
        width: 10rem;
    }

    article img{
        max-width: 40px;
    }
}

/* For screen size between 635px to 320px */

@media screen and (max-width: 635px) and (min-width: 320px) {
    nav .container {
        min-height: 10vh;
    }

    .letter {
        width: 2.5rem;
        height: 2.5rem;
    }

    .letter,
    .name {
        font-size: 1.5rem;
    }

    .hero-image img {
        max-width: 200px;
    }

    .text {
        font-size: .95rem;
        line-height: 1.8;
    }

    .title {
        font-size: 2rem;
    }

    .hero-name {
        font-size: 2.5rem;
    }

    .call-for-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .8rem;
    }

    .about {
        padding: 2rem 0;
    }

    .section-header .title::after{
        width: 100px;
    }

    .text-container .btn{
        width: 100%;
    }

}

@media screen and (max-width: 435px) {
    .hero-name {
        font-size: 1.9rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .section-header .title{
        font-size: 2rem;
    }

    .about-pic{
        max-width: 200px;
    }

    .project-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}